<template>
    <div>
        <NavBar></NavBar>
        <div class="container py-4">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import NavBar from '../NavBar/NavBar'
    export default {
        name: 'App',
        components: {NavBar},
        props: {},
    };
</script>
