<template>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Модели
                <router-link :to="{name: 'markCreate'}" class="btn btn-success btn-sm float-right">
                    Добавить модель
                </router-link>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Производитель</th>
                        <th>Наименование</th>
                        <th style="width: 100px" class="text-center">Операции</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="mark, index in marks">
                        <td>{{ mark.vendor.title}}</td>
                        <td>{{ mark.title }}</td>
                        <td class="text-center">
                            <router-link :to="{name: 'markUpdate', params: {id: mark.id}}"
                                         class="btn btn-sm btn-secondary">
                                E
                            </router-link>
                            <a href="#"
                               class="btn btn-sm btn-danger"
                               v-on:click="deleteEntry(mark.id, index)">
                                D
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'MarkIndex',
        props: {},
        data: function () {
            return {
                marks: []
            }
        },
        mounted() {
            var app = this;
            axios.get('/api/marks')
                .then(function (resp) {
                    app.marks = resp.data.data;
                    console.log(app.marks);
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load marks");
                });
        },
        methods: {
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('/api/marks/' + id)
                        .then(function (resp) {
                            app.marks.splice(index, 1);
                        })
                        .catch(function (resp) {
                            alert("Could not delete mark");
                        });
                }
            }
        }
    };
</script>
