<template>
    <div class="card">
        <div class="card-header">
            Добавить модель
        </div>
        <div class="card-body">
            <form v-on:submit="saveForm()">
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label class="control-label">Производитель</label>
                        <select v-model="mark.vendor_id" class="form-control">
                            <option v-for="vendor in vendors" v-bind:value="vendor.id">{{vendor.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label class="control-label">Модель</label>
                        <input type="text" v-model="mark.title" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <button class="btn btn-success">Добавить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: 'MarkCreate',
        props: {
        },
        data: function () {
            return {
                vendors: [],
                mark: {
                    vendor_id: 0,
                    title: '',
                }
            }
        },
        mounted() {
            var app = this;
            axios.get('/api/vendors')
                .then(function (resp) {
                    app.vendors = resp.data.data;
                    console.log(app.vendors);
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load vendors");
                });
        },
        methods: {
            saveForm() {
                event.preventDefault();
                var app = this;
                var mark = app.mark;
                axios.post('/api/marks', mark)
                    .then(function (resp) {
                        app.$router.push({path: '/mark'});
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("не могу создать модель");
                    });
            }
        }
    };
</script>
