<template>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/">
                CarSharing
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="/">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <router-link to="/vendor" class="nav-link">Производители</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/mark" class="nav-link">Модели</router-link>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: 'NavBar',
        props: {
        },
    };
</script>
