<template>
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Кнтрольная панель</div>
                <div class="card-body">
                    Вы залогинены
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Home',
        props: {},
    };
</script>
